mixin pattern()
    +b.pattern
        .container
            +e.inner
                +breadcrumbs()
                +e.H1 Предплатежная страница интернет - эквайринга
                +e.H2 Правила оплаты
                +e.P Оплата банковскими картами осуществляется через ЗАО «Альфа-Банк».
                +e.P К оплате принимаются карты международных платежных систем VISA, MasterCard, платежной системы БЕЛКАРТ. Оплату также можно совершить, посредством сервиса Apple Pay.
                +e.P Для оплаты необходимо ввести реквизиты карточки: номер, имя держателя, срок действия и трехзначный код безопасности. Трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard) — это три цифры, находящиеся на обратной стороне карточки. Если карточка поддерживает технологию 3DSecure или Интернет-пароль для держателей карточек БЕЛКАРТ, Вы будете перенаправлены на страницу банка, выпустившего карточку, для ввода кода безопасности. При оплате с помощью Apple Pay выберете карту из приложения Wallet, воспользуйтесь кодпаролем или иным способом аутентификации, в зависимости от того, какой способ выбран в приложении.
                +e.H2 Безопасность
                +e.P Ввод данных карточки осуществляется на защищенной авторизационной странице банка
                +e.P Безопасность совершения платежа обеспечивается современными методами проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных карточки осуществляется на защищенной авторизационной странице банка.
                +e.P Предоставляемая Вами персональная информация (например: имя, адрес, телефон, e-mail, номер банковской карты и прочее) является конфиденциальной и не подлежит разглашению. Данные карточки передаются только в зашифрованном виде и не сохраняются на данном интернет-ресурсе.
                +e.H2 Условия отказа от услуги
                +e.P  Потребитель вправе в одностороннем порядке отказаться от услуги не позднее, чем  за 14 (четырнадцать) календарных дней до даты проведения мероприятия при условии оплаты исполнителю фактически понесенных им расходов, если иное не предусмотрено законодательством.
                +e.H2 Правила возврата средств
                +e.P Порядок возврата регулируется правилами международных платежных систем.
                +e.P Процедура возврата товара регламентируется Законом Республики Беларусь от 9 января 2002 г. N 90-З «О защите прав потребителей».
                +e.P Потребитель вправе в одностороннем порядке отказаться от исполнения договора о выполнении работы (оказании услуги) при условии оплаты исполнителю фактически понесенных им расходов, если иное не предусмотрено законодательством.
                +e.P При оплате банковской платежной карточкой возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами платежных систем.
                +e.P Для возврата денежных средств на банковскую платежную карточку необходимо заполнить «Заявление о возврате денежных средств» и отправить его по электронной почте. Возврат денежных средств будет осуществлен на банковскую платежную карточку в течение 7 (семи) рабочих дней со дня получения «Заявление о возврате денежных средств».
                +e.P Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по электронной почте.