@import "./../../common/constants";

.lang {
  position: relative;
  margin-right: 2rem;
  display: none;
  cursor: pointer;

  @include lg {
    display: flex;
    margin-right: 0;
    margin-left: 15px;
  }

  &__input {
    display: none;
    min-width: 50px;
  }

  &__link {
    font-size: 14px;
    line-height: 19px;
    color: #D1D3D4;
  }

  &__label {
    display: flex;
    width: 60px;
    justify-content: space-between;
    align-items: center;
  }
  &__svg_active {
    stroke: #9DE836;
    color: #9DE836;
  }


  &__dropdown-inner {
    position: absolute;
    left: -10px;
    top: 55px;
    min-width: 81px;
    width: 81px;
    height: 29px;

    @include lg {
      transition: .5s;
      top: 52px;
    }
  }

  &__dropdown-inner_scroll {
    transition: .5s;
    @include sm {
      top: 32px;
    }

    @include lg {
      top: 34px;
    }
  }

  &__dropdown {
    padding-top: 8px;
    background: #8BCC32;
  }


  &__dropdown-link-inner {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #797E84;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__dropdown-link-text {
    min-width: 81px;
    width: 81px;
    height: 29px;
    text-align: center;
    padding: 5px 0;
  }

  &__dropdown-link-inner:hover {
    background: #6E747B;
  }

  &__green-button {
    width: 44px;
    height: auto;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: center bottom;
    transition: .5s;

    @include lg {
      transition: 0s;
    }
  }

  &__green-button_active {
    transform: translateX(-50%) scaleY(1);
    transition-delay: 2s;
    transition: .5s;
    transform-origin: center bottom;
  }

  &__icon {
    display: flex;
  }

  &__dropdown-link {
    display: none;
    padding-top: 8px;
    background: #797E84;
    border-radius: 0 0 8px 8px;
  }




}