mixin article()
    +b.article
        +e.progress-bar(id='progress-bar')
        +e.inner
            +e.H1.title-inner
                .container
                    +breadcrumbs()
                    +e.title
                        +e.title-icon(src=require('./../images/article-icon.svg'), alt='')
                        +e.title-name Сбой в работе Viber и многих других приложений для iPhone произошел в Беларуси
            +e.content
                .container
                    +e.P Читатели сообщают в редакцию Onliner о том, что испытывают проблемы с запуском приложения мессенджера Viber на iOS. При попытке запустить оно попросту вылетает. Аналогичная беда и с другими приложениями.
                    +e.H2 Без стройки и ремонта
                    +e.P Читатели сообщают в редакцию Onliner о том, что испытывают проблемы с запуском приложения мессенджера Viber на iOS. При попытке запустить оно попросту вылетает. Аналогичная беда и с другими приложениями.
                    +e.H2 Кто виноват?
                    +e.P — Последние три года мы с Машей жили на съемной квартире в Брилевичах. Конечно, мечтали о собственном жилье и копили на него, — начинает рассказ Артур. — Было много сомнений: квартира или дом, строить или покупать готовое и т. д. Как ни странно, все решилось благодаря собаке. Маша хотела завести собаку, а я был категорически против — не место ей в тесной городской квартире. Тогда жена и говорит: «Ну, решено, строим дом».
                    +e.P  Начали интересоваться «каркасниками» и в один из дней увидели статью с выставки о небольшом модульном доме. Понравилась цена — кажется, $21 000. Ну и сама идея — тебе на участок привозят готовый дом с отделкой и мебелью. То есть по сути никакой стройки, никакой жизни в ремонте. Мы подъехали на производство, познакомились с директором, «пробили» компанию в интернете на предмет судебных тяжб — это ведь тоже важно.
                    iframe(src="https://www.youtube.com/embed/nYqZz88eOzQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)