mixin control()
    +b.control
        +e.inner
            +e.UL.list
                +e.LI.list-item.control__list-item_active Командообразование и решение проблем
                +e.LI.list-item Тренинг Leading with Questions
                +e.LI.list-item Долгосрочные программы развития
                +e.LI.list-item Сертификация