mixin education()
    +b.education
        +e.inner
            .container
                +e.wrapper
                    +e.item
                        +e.title  Образование
                        +e.item-inner
                            +e.line-inner
                                +e.circle
                                +e.line
                                +e.circle
                                +e.line
                                +e.circle
                            +e.content
                                +e.P Madonna University, Livonia, MI, USA Магистр (MBА); Международный маркетинг; Диплом  с отличием (2003-2005)
                                +e.P St. Mary’s College. Orchard Lake, MI, USA Маркетолог; Деловое Администрирование; Бакалавр (2001-2002)
                                +e.P St. Mary’s College. Orchard Lake, MI, USA Социальный Психолог; Индустриальная психология; Бакалавр (1998-2001)
                    +e.item
                        +e.title Опыт преподавания
                        +e.item-inner
                            +e.line-inner
                                +e.circle
                                +e.line
                                +e.circle
                                +e.line
                                +e.circle
                            +e.content
                                +e.P Программа Шведского института менеджмента IFL при Стокгольмской школе экономики (процессный преподаватель)
                                +e.P IHK Akademie, Westerham Germany, Германия (преподаватель курса HR и оргэффективности)
                                +e.P Высшая Школа Бизнеса при МГУ им. М.В. Ломоносова (преподаватель по маркетингу)