mixin directions()
    +b.directions
        .container
            +e.inner
                +breadcrumbs()
                +e.wrapper
                    +e.content
                        +e.bgd-pic(src=require('./../images/kids.png'), alt='')
                        +e.content-title
                            +color-button()
                            +e.H2 Развитие лидеров
                        +e.content-text
                            +e.P Action Learning – методика получившая мировое признание и используемая крупнейшими компаниями: Microsoft, BMW, Siemens, General Electric, Toyota, Samsung для развития команд и руководителей.
                            +e.P Massachusetts Institute of Technology (MIT Sloan) – одна  из самых престижных бизнес школ мира, называет Action Learning  ключевым подходом к командной работе в программах развития топ-менеджеров.
