mixin compass-animation()
    +b.compass-animation
        +e.inner
            +e.bgd(src=require('./../images/compass.png'), alt='')
            +e.arrow(src=require('./../images/compass-arrow.png'), id='compass-arrow' alt='')
            +e.shadow(src=require('./../images/compass-shadow.png'), alt='')