mixin popup()
    +b.popup
        +e.inner
            +e.content
                .container
                    +e.close
                        +e.SPAN.close-text Закрыть
                        +e.close-icon
                            +e.close-line
                            +e.close-line
                    +e.H1.title Для вашей компании
                    +e.content-item
                        +e.H2 ПОЧЕМУ ЭТО ВАЖНО.
                        +e.P
                            +e.STRONG Результаты исследований, проведенные Mindful Leadership Institute с участием руководителей крупных компаний говорят о следующем:
                        +e.UL
                            +e.LI 47% времени, которое участники тратили на выполнение рабочих задач, уходило на всевозможные отвлечения – то есть почти половину своего полезного времени мы тратим зря!
                            +e.LI 70% руководителей согласились с тем, что им сложно сосредоточиться во время деловых встреч
                        +e.P Итак, очевидно, что руководителям сложно удерживать внимание и сосредотачиваться на задачах, которые они выполняют.
                        +e.P Текущий период изменений в бизнесе требует от каждого из нас новых подходов к работе, и развития новых навыков. Далеко не все способны легко адаптироваться к происходящим изменениям: гибким условиям работы, методологиям agile, плавающим графикам работы, необходимости ориентироваться в море разнородных данных.
                    +e.content-item
                        +e.P
                            +e.STRONG Ключевые преимущества осознанности для бизнеса:
                        +e.OL
                            +e.LI Повышение результативности и способности сотрудников гибко реагировать на меняющиеся условия ведения      бизнеса.
                            +e.LI Повышение результативности и способности сотрудников гибко реагировать на меняющиеся условия ведения       1.  бизнеса.
                            +e.LI Повышение стрессоустойчивости сотрудников и их способности быстро восстанавливать силы и внимание.
                            +e.LI Повышение привлекательности компании для высокопотенциальных сотрудников.
                        +e.P Основная роль осознанности в бизнесе в том, что она создает корпоративную культуру, базирующуюся на принципах эмпатии и целостности.
                    +e.content-item
                        +e.P
                            +e.STRONG Эмпатия обеспечивает:
                        +e.UL
                            +e.LI повышение качества
                            +e.LI улучшение взаимодействия между сотрудниками и командами
                            +e.LI повышения качества взаимодействия
                            +e.LI рост уровня доверия с клиентами
                            +e.LI повышение вовлеченности сотрудников в компании в долгосрочной перспективе
                    +e.content-item
                        +e.P
                            +e.STRONG Целостность позволяет:
                        +e.OL
                            +e.LI снизить сложность бизнес-среды за счет исключения неприоритетных задач
                            +e.LI согласовать действия сотрудников
                            +e.LI выстроить ключевые ориентиры в соответствии со стратегией компании.