mixin anchor()
    +b.anchor
        +e.inner
            +e.controls-panel
                +e.A.controls-panel-item
                    +color-button()
                    +e.dropdown-name Что это?
                    +e.dropdown-number 01
                +e.A.controls-panel-item
                    +color-button()
                    +e.dropdown-name Результаты
                    +e.dropdown-number 02
                +e.A.controls-panel-item
                    +color-button()
                    +e.dropdown-name Содержание
                    +e.dropdown-number 03
                +e.A.controls-panel-item
                    +color-button()
                    +e.dropdown-name Для кого?
                    +e.dropdown-number 04
                +e.A.form-link Оставить заявку