mixin popup-link()
    +b.popup-link
        +e.inner
            .container
                +e.title Почему это важно.
                +e.subtitle Результаты исследований, проведенные Mindful Leadership Institute с участием руководителей крупных компаний говорят о следующем: 47% времени, которое участники тратили на выполнение рабочих задач, уходило на всевозможные отвлечения - то есть почти половину своего полезного времени мы  тратим зря!
                +e.item Читать полностью