mixin page404()
    +b.page404
        +e.inner
            +e.pic(src=require('./../images/pic404.png'), alt='')
            +e.H1.title Страница не найдена
            +e.subtitle
                | Неправильно набран адрес, или такой страницы на сайте не существует. Начните с &#160;
                a(href='#') главной страницы
                | &#160; или воспользуйтесь меню.