include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/socials/socials
include ./components/burger/burger
include ./components/lang/lang
include ./components/menu/menu
include ./components/directions/directions
include ./components/slider/slider
include ./components/events/events
include ./components/breadcrumbs/breadcrumbs
include ./components/tabs/tabs
include ./components/tabs-slider/tabs-slider
include ./components/form/form
include ./components/tabs-inner/tabs-inner
include ./components/control/control
include ./components/center/center
include ./components/front/front
include ./components/profiles/profiles
include ./components/feedback/feedback
include ./components/video/video
include ./components/contacts/contacts
include ./components/hub/hub
include ./components/anchor/anchor
include ./components/tabs-content/tabs-content
include ./components/color-button/color-button
include ./components/tabs-complex/tabs-complex
include ./components/popup/popup
include ./components/popup-link/popup-link
include ./components/contacts-page/contacts-page
include ./components/feedback-page/feedback-page
include ./components/about/about
include ./components/education/education
include ./components/certificates/certificates
include ./components/efforts/efforts
include ./components/projects/projects
include ./components/center-page/center-page
include ./components/center-filter/center-filter
include ./components/article/article
include ./components/page404/page404
include ./components/pattern/pattern
include ./components/compass/compass
include ./components/video-popup/video-popup
include ./components/compass-animation/compass-animation
include ./components/compass-button/compass-button
include ./components/concept/concept
include ./components/event/event
include ./components/login/login
include ./components/checkout/checkout
include ./components/account/account
include ./components/signin/signin
include ./components/signup/signup
include ./components/forget/forget