include ./../mixins
doctype html
html
    +head()
    body(class="app")
        //+loader('loader__spinner_falcon')
        +header()
        main.main(id='main')
            div
                +about()
                +efforts()
                +projects()
                +hub()
                +footer()
                +compass-button()
