include ./../mixins
doctype html
html
    +head()
    body(class="app")
        //+loader('loader__spinner_falcon')
        +header()
        main.main(id='main')
            div
                +forget()
                +footer()
                +compass-button()