include ./../mixins
doctype html
html
    +head()
    body(class="app")
        //+loader('loader__spinner_falcon')
        +header()
        main.main
            div.simple-tabs
                +directions()
                +tabs-inner
            +control()
            +footer()
            +compass-button()
