include ./../mixins
doctype html
html
    +head()
    body(class="app")
        //+loader('loader__spinner_falcon')
        +header()
        main.main
            div.flex-container
                +page404()
                +hub()
                +footer()
                +compass-button()
