mixin concept()
    +b.concept
        +e.inner
            .container
                +e.title Ключевые методологии
                +e.content
                    +e.triangle
                        +e.triangle-pic.concept__triangle-pic_active(src=require('./../images/concept-triangle.png'), alt='')
                        span Непрерывное развитие
                    +e.description
                        +e.description-item
                            +e.description-pic-inner
                                +e.description-pic(src=require('./../images/pertners-icon.png'), alt='')
                            +e.description-text
                                span PL – &#160;
                                span Partners In Leadership: &#160;
                                span формирование культуры позитивной ответственности за результат &#160;
                        +e.description-item
                            +e.description-pic-inner
                                +e.description-pic(src=require('./../images/wial-icon.png'), alt='')
                            +e.description-text
                                span WIAL – &#160;
                                span World Institute for Action Learning: &#160;
                                span развитие руководителей в процессе решения реальных бизнес задач
                        +e.description-item
                            +e.description-pic-inner
                                +e.description-pic(src=require('./../images/siyli-icon.png'), alt='')
                            +e.description-text
                                span SIYLI – &#160;
                                span Search Inside Yourself Leadership Institute: &#160;
                                span развитие эмоционального интеллекта с помощью практик осознанности