mixin tabs-content()
    +b.tabs-content
        +e.inner
            +e.dropdown-inner
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Что это?
                        +e.dropdown-number-inner
                            +e.dropdown-number 01
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                    +e.subtab-content
                        +e.H3.subtab-content-title  Что это?
                        +e.subtab-content-item
                            +e.H4
                            +e.P Интерактивный однодневный тренинг для команд от 5 до 40 человек, обучающий участников навыкам командообразования, коучингового лидерства, активного слушания и решения проблем. Основной акцент тренинга – метод управления и развития подчиненных с помощью вопросов, являющийся основой коучингового стиля лидерства.
                        +e.subtab-content-item.tabs-content__subtab-content-item_active
                            +e.H4 Суть:
                            +e.P интерактивный однодневный тренинг по развитию soft skills  для команд от 5 до 40 человек.
                        +e.subtab-content-item.tabs-content__subtab-content-item_active
                            +e.H4 Цель:
                            +e.P тренинг обучает участников навыкам командообразования, коучингового лидерства, активного слушания и решения проблем.
                        +e.subtab-content-item.tabs-content__subtab-content-item_active-bgd
                            +e.H4 Изюм:
                            +e.P основной акцент тренинга – метод управления и развития подчиненных с помощью вопросов, являющийся основой коучингового стиля лидерства.
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Результаты
                        +e.dropdown-number-inner
                            +e.dropdown-number 02
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none" stroke="#B9B9B9")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke-width="1.3" stroke-linecap="round" stroke="#B9B9B9")
                    +e.subtab-content
                        +e.H3.subtab-content-title  Результаты
                        +e.subtab-content-item
                            +e.H4
                            +e.P
                            +e.UL
                                +e.LI Командообразования
                                +e.LI Повышение уровня доверия
                                +e.LI Развитие коучингового стиля управления
                                +e.LI Развитие навыков  использования открытых вопросов
                                +e.LI Развитие навыков предоставления позитивной обратной связи
                                +e.LI Развитие навыков  использования методики “4Q” - индивидуальных развивающих встреч с подчиненными
                                +e.LI Развитие навыков  активного слушания
                                +e.LI Развитие навыка рефлексии
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Содержание
                        +e.dropdown-number-inner
                            +e.dropdown-number 03
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                    +e.subtab-content
                        +e.H3.subtab-content-title  Содержание
                        +e.subtab-content-item
                            +e.H4
                            +e.P Тренинг «без воды», наполнен интерактивными командными и индивидуальными упражнениями, сессиями вопросов и ответов. Программа включает проведение демо сессии “WIAL Action Learning” по решению актуальной проблемы компании.
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Для кого?
                        +e.dropdown-number-inner
                            +e.dropdown-number 04
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                    +e.subtab-content
                        +e.H3.subtab-content-title  Для кого?
                        +e.subtab-content-item
                            +e.UL
                                +e.LI Временных либо постоянных и давно сплоченных команд, для которых коучинговый стиль лидерства - часть культуры.
                                +e.LI Для команд руководителей
                                +e.LI Для команд специалистов и менеджеров
                                +e.LI  Для смешанных команд, где  среди участников находятся представители различных подразделений и уровней руководства - в данном случае мы получаем дополнительный результат в качестве налаживания кросс-функциональных связей.
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Для чего:
                        +e.dropdown-number-inner
                            +e.dropdown-number 05
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                    +e.subtab-content
                        +e.H3.subtab-content-title Для чего:
                        +e.table
                            +e.subtab-content-item
                                +e.swiper-container.swiper-container
                                    +e.swiper-wrapper.swiper-wrapper
                                        +e.swiper-slide.swiper-slide
                                            +e.problem-inner
                                                +e.problem-title Проблема
                                                +e.problem-description Нет ориентиров для разработки стратегии
                                            +e.solution-inner
                                                +e.solution-inner
                                                    +e.solution-title Решение
                                                    +e.solution-description Разработка документа «ожидания собственников»
                                        +e.swiper-slide.swiper-slide
                                            +e.problem-inner
                                                +e.problem-title Проблема
                                                +e.problem-description Нет ориентиров для разработки стратегии
                                            +e.solution-inner
                                                +e.solution-inner
                                                    +e.solution-title Решение
                                                    +e.solution-description Есть ориентиров для разработки стратегии
                                    +e.swiper-pagination.swiper-pagination
                                    +e.swiper-button-prev.swiper-button-prev
                                    +e.swiper-button-next.swiper-button-next
                +e.dropdown-item
                    +e.dropdown-title-inner
                        +color-button()
                        +e.dropdown-name Глубина проработки стратегии:
                        +e.dropdown-number-inner
                            +e.dropdown-number 05
                            +e.SVG.dropdown-icon(mlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9" fill="none")
                                +e.PATH.dropdown-icon-path(d="M1.5 1.5L4.5 4.5L1.5 7.5" stroke="#B9B9B9" stroke-width="1.3" stroke-linecap="round")
                    +e.subtab-content
                        +e.H3.subtab-content-title Глубина проработки стратегии:
                        +e.subtab-content-item
                            +e.accordion
                                +e.accordion-title
                                    +e.accordion-title-content
                                        span 1 уровень: Осуществляется общее моделирование на основании вводных, предоставленных сотрудниками компании, без погружения консультанта в статистику по рынкам, клиентам, продуктам.
                                    +e.accordion-title-level
                                        span Результаты
                                        svg.dropdown-icon(xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewbox='0 0 7 11' fill='none')
                                          path(d='M1 1L5.5 5.5L1 10' stroke='#B9B9B9' stroke-width='1.3' stroke-linecap='round')
                                +e.accordion-content
                                    +e.UL
                                        +e.LI Классическая стратегическая сессия
                                        +e.LI Appreciative Inquiry
                                        +e.LI Action Learning
                                        +e.LI Collective Mind-Mapping
            +form()