mixin about()
    +b.about
        +e.inner
            .container
                +breadcrumbs()
                +e.wrapper
                    +e.content
                        +e.title Обо мне
                        +e.description
                            +e.P Привет друзья! Рад вашему визиту! Меня зовут Денис Санько, я консультант по внедрению изменений и тренер по развитию лидерства.
                            +e.P Мой опыт в стратегии, маркетинге, организационной эффективности и HR позволяет мне комплексно оценить вашу текущую ситуацию, и, сопоставив ее с вашими целями, расставить приоритеты и предложить наилучшее решение.
                        +e.A.link(href='#') Узнать больше
                    +e.portrait
                        +e.portrait-pic(src=require('./../images/about-portrait.png'), alt='')