mixin center-page()
    +b.center-page
        +e.inner
            .container
                +breadcrumbs()
                +e.wrapper
                    +e.content
                        +e.title Центр знаний
                        +e.description
                            +e.P Здесь я и моя команда заботливо отбирает и бережно хранит знания, улучшающие и дополняющие мои подходы и методики. Мы штудируем лучшие международные ресурсы, переводим созвучные нам статьи, тщательно извлекаем суть и делимся нашим видением как и где эту суть применять в условиях нашего рынка. Цель Центра Знаний: формировать целостное и бесконфликтное бизнес- мировоззрение и делиться им с теми, кто его разделяет. Если вы, читатель, знакомы с тем, что может дополнить Центр Знаний, либо улучшить его структуру, я буду очень благодарен за ваше мнение, либо рекомендацию.
                    +e.portrait
                        +e.portrait-pic(src=require('./../images/books.png'), alt='')